.btn {
    all: unset;
    outline: revert;
    --webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 42px;
    height: 42px;
    display: grid;
    place-items: center;
}

.btn::before,
.btn::after,
.btn .bar {
    grid-area: 1/1;
    content: '';
    display: block;
    width: 32px;
    height: 2px;
    background-color: currentColor;
    transition:  transform 0.4s;
}

.close .btn::before {
    transform: translateY(-8px);
}
.close .btn::after {
    transform: translateY(8px);
}

.open .btn::before {
    transform: rotate(45deg);
}
.open .btn::after {
    transform: rotate(-45deg);
}
.open .btn .bar {
    transform: scale(0);
}