
.wrapper {
    position: absolute;
    height: var(--footerSizeH);
    width: 100%;
    background-color: var(--gray-10);
}
.wrapper h1 {
    font-size: var(--small-heading1);
}

.fixedWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--footerSizeH);
    width: 100%;
    background-color: var(--gray-10);
}
.fixedWrapper h1 {
    font-size: var(--small-heading1);
}


.flexContainer {
    composes: sideBySideCenter from '@/styles/utils.module.css';
    gap: 2rem;
    margin-top: calc(var(--footerSizeH)/2 - var(--small-heading1));
}

@media (max-width: 1000px) {
    .flexContainer{
        --footer-gap: 0.5rem;
        margin-top: calc( var(--footerSizeH)/2 - var(--small-heading1) - var(--footer-gap));
        gap: var(--footer-gap);
    }
}
